
<div class="position-static w-100">
  <input type="text" readonly 
    [placeholder]="placeholder" 
    [value]="getLabel()" 
    [disabled]="disabled" 
    (blur)="onBlur()" 
    (focus)="onFocus()" 
    data-bs-toggle="dropdown" 
    data-bs-auto-close="outside" 
    data-bs-offset="0,4"
  >
  
  <ul class="dropdown-menu dropdown-menu-end rounded-0 w-100 shadow border border-secondary">
    
    @if(enableSearch){
      <li class="border-bottom p-2">
        <input type="text" class="form-control form-control-sm" 
          placeholder="Search..." 
          [value]="searchText()"
          (input)="searchText.set($any($event.target).value)"
        >
      </li>
    }
    
    @if(enableSelectAll){
      <li class="border-bottom">
        <label class="dropdown-item text-truncate px-2 py-1">
          <input type="checkbox" class="me-2" 
            id="selectAll" 
            [checked]="isAllSelected()" 
            [indeterminate]="isIndeterminate()" 
            (change)="toggleAll($event)"
          >
          @if(isAllSelected()){ <i class="bi bi-check2 float-end text-primary"></i> } Select All
        </label>
      </li>
    }

    <div class="overflow-auto" style="max-height: 250px;">
      @for (opt of filteredOptions; track opt?.label;){
        <li>
          <label class="dropdown-item text-truncate px-2 py-1">
            <input type="checkbox" class="me-2" 
              [id]="opt.label" 
              [disabled]="opt.disabled" 
              [class.d-none]="!showCheckbox"
              [checked]="isSelected(opt.value)" 
              (click)="toggle(opt.value); $event.stopPropagation()"
            >
            @if (isSelected(opt.value)){ <i class="bi bi-check2 float-end text-primary"></i> } {{ opt.label }}
          </label>
        </li>
      }
    </div>

  </ul>

  <div hidden class="d-none"><ng-content></ng-content></div>
</div>
