$border-weight-heavy: 4px;

.border-4 {
  border-left-width: $border-weight-heavy !important;
}

/* Ensure the sticky header stays above table body content */
/* thead.sticky-top {
  top: 0;
  z-index: 2;
} */
