.sidebar-scroll { 
    direction: rtl; 
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
.sidebar-content { direction: ltr; }
@media (min-width: 992px) {
    .sidebar-content .dropdown-menu.show {
        display: flex; 
        flex-direction: row;
        padding: 0.5rem;
        min-width: max-content; 
    }
}
.main-menu.dropdown-link,
.main-menu.list-group-item{
    background: rgba(255, 255, 255, 0.15) !important;
    color: #fff !important;
    border: none !important;
    transition: all 0.3s ease;
}
.active-mode > .main-menu:hover,
.main-menu.dropdown-link:hover,
.main-menu.list-group-item:hover{
    background: rgba(255, 255, 255, 0.25) !important;
    /* color: #fff !important; */
    cursor: pointer;
}
.active-mode > .main-menu{
    color: #0d6efd !important;
    font-weight: bold;
}
[aria-expanded="true"] [class*="bi-chevron"] {
    transition: transform 0.3s ease;
    transform: rotate(180deg) !important;
}
[aria-expanded="false"] [class*="bi-chevron"] {
    transform: rotate(0deg) !important;
}
