<div class="sidebar-wrapper d-flex flex-column h-100 bg-body text-body">
    <div class="bg-body-tertiary text-body-emphasis border-bottom sticky-top p-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center overflow-hidden user-block">
                <div class="flex-shrink-0 d-flex align-items-center justify-content-center">
                    <img 
                        width="42" 
                        height="42" 
                        alt="Avtar" 
                        ngSrc="/images/avtar.png" 
                        class="bg-secondary rounded-circle flex-shrink-0"
                    />
                </div>
                <div class="small overflow-hidden ms-2 sidebar-text">
                    <div class="fw-semibold text-truncate mb-0">Manish Kushwaha</div>
                    <div class="text-body-secondary text-truncate small">Administrator</div>
                </div>
            </div>
            <button 
                type="button" 
                aria-label="Close"
                data-bs-dismiss="offcanvas" 
                data-bs-target="#sidebarMenu" 
                class="btn-close flex-shrink-0 d-xl-none ms-2" 
            >
            </button>
        </div>
    </div>

    <div class="sidebar-scroll flex-grow-1 small overflow-y-auto p-2">
        <div class="sidebar-content accordion d-flex flex-column gap-2 mb-auto" id="accordionGroup">
            
            @for(menu of menus; track menu; let index = $index){
                <div 
                    routerLinkActive="" 
                    #rla="routerLinkActive"
                    [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', fragment: 'ignored', matrixParams: 'ignored' }"
                    class="rounded-3 overflow-hidden bg-secondary bg-opacity-50" 
                >

                    @if(!menu.children?.length){
                        <a 
                            [routerLink]="[menu.path]" 
                            [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="text-primary fw-semibold" 
                            class="nav-link d-flex justify-content-between align-items-center p-2" 
                        >
                            <span class="d-flex align-items-center">
                                <span class="icon-wrapper d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i class="bi {{menu.icon}}"></i>
                                </span>
                                <span class="sidebar-text ms-2">{{menu.title}}</span>
                            </span>
                        </a>
                    }@else{
                        <a 
                            data-bs-toggle="collapse" 
                            [attr.href]="'#collapse-'+index" 
                            [attr.aria-expanded]="rla.isActive"
                            class="nav-link d-flex justify-content-between align-items-center p-2" 
                            [class]="{ 'text-primary': rla.isActive, 'fw-semibold': rla.isActive }"
                        >
                            <span class="d-flex align-items-center">
                                <span class="icon-wrapper d-flex align-items-center justify-content-center flex-shrink-0">
                                    <i class="bi {{menu.icon}}"></i>
                                </span>
                                <span class="sidebar-text ms-2">{{menu.title}}</span>
                            </span>
                            <i class="bi bi-chevron-down collapse-icon-animated sidebar-text"></i>
                        </a>

                        <div 
                            #collapse 
                            [id]="'collapse-'+index" 
                            [class.show]="rla.isActive"
                            class="collapse" data-bs-parent="#accordionGroup" 
                        >
                            <div class="d-flex flex-column gap-1 small">
                                @for(child of menu.children; track child){
                                    <a 
                                        [routerLink]="child.path" 
                                        [routerLinkActiveOptions]="{ exact: true }"
                                        routerLinkActive="bg-primary text-white fw-semibold" 
                                        class="nav-link p-2 rounded-pill" 
                                    >
                                        <span class="d-flex align-items-center">
                                             <span class="icon-wrapper d-flex align-items-center justify-content-center flex-shrink-0">
                                                <i class="bi {{child.icon}}"></i>
                                            </span>
                                            <span class="sidebar-text ms-2">{{child.title}}</span>
                                        </span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>

    <!-- Logout Block (Fixed at bottom) -->
    <div class="bg-body-tertiary text-body-emphasis border-top p-2 mt-auto">
        <a class="nav-link text-danger fw-semibold d-flex align-items-center p-2" routerLink="/login">
            <span class="icon-wrapper d-flex align-items-center justify-content-center flex-shrink-0">
                <i class="bi bi-box-arrow-right"></i> 
            </span>
            <span class="sidebar-text ms-2">Logout</span>
        </a>
    </div>
</div>
