@use '../public//css//bootstrap.scss';
@use '../public/css/print.scss';

$track-color: var(--bs-tertiary-bg);
$hover-color: var(--bs-secondary-color);
$thumb-color: var(--bs-secondary-border-subtle);
$radius-full: 20px;

.text {
  &-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
  &-stack {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: -0.25rem;
    white-space: nowrap;
    line-height: 1;
  }
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;

  &-track {
    background: $track-color;
    border-radius: $radius-full;
  }
  &-thumb {
    background-color: $thumb-color;
    border: 2px solid $track-color;
    border-radius: $radius-full;

    &:hover { 
      background-color: $hover-color
    }
  }
}
