@use '../public/css/bootstrap.scss';
@use '../public/css/print.scss';

.text {
  &-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
  &-stack {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: -0.25rem;
    white-space: nowrap;
    line-height: 1;
  }
}

body {
  scrollbar-width: thin;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* IE 10+ */
  // user-select: none; /* Standard */  
}

.collapse-icon-animated {
  transition: transform 0.2s ease-in-out;

  [aria-expanded="true"] & {
    transform: rotate(180deg);
  }

  [aria-expanded="false"] & {
    transform: rotate(0deg);
  }
}
